<p class="help_link_container only_mobile">
  <a class="toggle_display" href="#empty_catalog_help">
    ¿Cómo hago un <strong>pedido</strong>?
  </a>
</p>
<section id="empty_catalog_help" class="explanation hidden_for_mobile">
  <header>
    <h2>Para realizar un pedido</h2>
  </header>
  
  <section class="spot">
    <h3>Decinos <strong>que buscás</strong>&hellip;</h3>
    <div class="image_container"><%= example_search_image %></div>
  </section>
  <section class="spot">
    <h3>y de los resultados, <strong>seleccioná</strong> lo que te interesa.</h3>
    <div class="image_container"><%= example_document_grid_image %></div>
  </section>
  <section class="spot">
    <h3>
      Después confirmanos tu pedido desde
      <strong><%= link_to t('view.catalog.new_order'), new_order_path %></strong>
    </h3>
  </section>
  <%= render 'help/footer', item: 'empty_catalog' %>
</section>