<section class="explanation">
  <header>
    <h2>Tu pedido está <strong>vacío</strong></h2>
  </header>
  
  <section class="spot">
    <h3>
      Para relizar uno seleccioná
      <strong><%= link_to t(:catalog, :scope => :customer_menu), catalog_path %></strong>
      y seguí las instrucciones.
    </h3>
  </section>
  <%= render 'help/footer' %>
</section>