<div class="readonly-data">
  <div class="page-header">
    <h1>Tu pedido está <em>vacío</em></h1>
  </div>
  
  <p class="lead">
    Para relizar uno seleccioná
    <strong><%= link_to t('customer_menu.catalog'), catalog_path %></strong>
    y seguí las instrucciones.
  </p>
</div>
<%= render 'help/footer', item: 'empty_order' %>