<section class="explanation">
  <header>
    <h2>Registrarse en el sistema de copiado</h2>
  </header>
  <section class="spot">
    <h3>Completá todos los datos del formulario</h3>
    <p>
      Cuando presiones <strong><%= t(:register, :scope => [:view, :customers]) %></strong>
      te enviaremos un correo para que actives tu cuenta.
    </p>
  </section>
  <section class="spot">
    <h3>Activá tu cuenta</h3>
    <p>
      Luego de activarla podés comenzar a utilizar todo el sistema de pedidos.
    </p>
  </section>
  <section class="spot">
    <h3>Agilizá tu paso por el centro de copiado</h3>
    <p>
      Para que tus copias estén <strong>impresas</strong> cuando llegues en la
      fecha acordada deberás tener saldo en tu cuenta.
    </p>
  </section>
  <section class="spot">
    <h3>Cargá saldo</h3>
    <p>Para cargar saldo en tu cuenta acercate al centro de copiado.</p>
  </section>
</section>