<tr>
  <td>
    <% input_html = f.object.try(:persisted?) ? { disabled: 'disabled' } : {} %>
    <%= f.input :amount, label: false, input_html: input_html %>
  </td>
  <td>
    <%= f.input :collected_at, as: :datetime_picker, label: false, input_html: {
      value: l(f.object.try(:collected_at) || Time.zone.now, format: :minimal)
    }.merge(input_html) %>
    <%= f.input :user_id, as: :hidden, input_html: {
      value: f.object.try(:user_id) || current_user.id
    } %>
  </td>
</tr>
