<% url = password_resets_path %>
<%= form_for(:customer, :url => url, :html => { :method => :post }) do |f| %>
  <div class="field">
    <%= f.label :email, Customer.human_attribute_name(:email) %>
    <%= f.text_field :email, :name => :email, :maxlength => 255,
      :autofocus => true %>
  </div>

  <div class="actions">
    <%= f.submit t(:request_reset, :scope => [:view, :password_resets]) %>
  </div>
<% end %>