<tr>
  <td><%= article_line.saleable.model_name.human %></td>
  <td><%= article_line.saleable %></td>
  <td><%= article_line.units %></td>
  <td><%= number_to_currency article_line.unit_price %></td>
</tr>
