<ul>
  <% docs.each do |doc| %>
    <li data-id="<%= doc.id %>" data-pages="<%= doc.pages %>">
      <%= highlight doc.name, params[:q] %>
      <span class="informal">
        <%= highlight doc.tags.map(&:to_s).join(' ## '), params[:q] %>
      </span>
    </li>
  <% end %>
</ul>