* {
    margin: 0px;
    padding: 0px;
}

body {
    color: #333333;
    background-color: #ffffff;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
}

a {
    color: #000;
}

a:visited {
    color: #666666;
}

a:hover {
    color: #ffffff;
    background-color:#000000;
}

div#alert {
    background: #aa0000;
    color: #ffffff;
}

div#alert, div#notice {
    position: fixed;
    bottom: .5em;
    left: 5%;
    right: 5%;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    padding: .5em 1em;
    border: 4px solid #c2bfb7;
}

div#alert div#close_alert, div#notice div#close_notice {
    position: absolute;
    top: .5em;
    right: 1em;
    font-size: .6em;
    font-weight: normal;
    border: 2px solid #c2bfb7;
}

div#alert div#close_alert a, div#notice div#close_notice a {
    background: inherit;
    color: #c2bfb7;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    padding: 1px 5px;
}

div#error_explanation {
  width: 100%;
  border: 2px solid #cc0000;
  padding: .5em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  background-color: #f0f0f0;
}

div#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: .5em 1em;
  font-size: 1em;
  margin: -.5em;
  margin-bottom: 0em;
  background-color: #cc0000;
  color: #ffffff;
}

div#error_explanation ul {
    margin-left: 3em;
}

div#error_explanation ul li {
  list-style: square;
}

div#login {
    font-size: 1.2em;
    width: 20em;
    margin: 5em auto;
    padding: 1em 2em;
    border: 2px solid #333333;
}

div#login input[type="text"], div#login input[type="password"] {
    width: 100%;
}

div#main_container {
    margin: 4em auto;
    width: 95%;
}

div#main_menu {
    position: absolute;
    width: 100%;
    border-bottom: 2px solid #666666;
    top: 0px;
    left: 0px;
    padding: .5em 0em;
}

div#notice {
    background: #151215;
    color: #ffffff;
}

div.actions input[type="submit"] {
    padding: .1em 1em;
}

div.actions, div.field {
  margin-bottom: 1em;
}

div.field input[type="text"], div.field input[type="password"],
div.field select, div.field text_area {
    font-size: inherit;
    font-family: inherit;
    width: 30em;
}

div.field > label {
    display: block;
    width: 30em;
}

div.field input[type="checkbox"] + label {
    display: inline;
    margin-left: .5em;
}

form.button_to input[type="submit"] {
    padding: 0em .5em;
}

input.field_with_errors, select.field_with_errors, text_area.field_with_errors {
    border: 2px solid #cc0000;
}

label.field_with_errors {
    color: #ffffff;
    background-color: #cc0000;
    border: 2px solid #cc0000;
}

nav#menu_links {
    margin-left: 1em;
}

nav#menu_links ul, nav#menu_links li, nav#user_actions ul, nav#user_actions li {
    display: inline;
    list-style: none;
    margin: 0em .5em;
}

nav#menu_links a {
    text-decoration: none;
}

nav#user_actions {
    position: absolute;
    right: 1em;
    top: .5em;
}

nav.links {
    display: block;
    margin: 1em 0em;
}

nav.links div.pagination {
    float: right;
    margin: .5em .5em .5em 0em;
}

nav.links div.pagination a {
    color: #333333;
    padding: 1px 2px;
    text-decoration: none;
    border: 2px solid #cecece;
}

nav.links div.pagination a, nav.links div.pagination span {
    margin: 0em .1em;
}

nav.links div.pagination a:hover {
    color: #ffffff;
    border: 2px solid #333333;
}

nav.links div.pagination em {
    font-style: normal;
    border: 2px solid #333333;
    background: #333333;
    color: #ffffff;
    padding: 1px 2px;
}

nav.links div.pagination span.disabled {
    border: 2px solid #cecece;
    color: #cecece;
    padding: 1px 2px;
}

table.list {
    width: 100%;
    border: 2px solid #333333;
    border-collapse: collapse;
}

table.list td {
    padding: .2em .5em;
}

table.list th {
    text-align: left;
    padding: .4em .5em;
    border-bottom: 2px solid #333333;
}

table.list tbody tr.odd {
    background: #efefef;
}

table.list tbody tr.odd:hover, table.list tbody tr.even:hover {
    background: #cecece;
}