<h1>Cambio de contraseña</h1>

<p><%= link_to 'Cambiar mi contraseña', reset_password_customer_url(:token => @customer.perishable_token) %></p>

<p>Si tenés problemas con el enlace anterior probá copiando lo siguiente en la barra de dirección de tu navegador:</p>
<p><pre><%= reset_password_customer_url(:token => @customer.perishable_token) %></pre></p>