<h2>Bienvenido a nuestro sistema de pedidos</h2>

<p>Hola <strong><%= @customer.name %></strong>,</p>

<p>Nos alegra tenerte con nosotros...</p>

<p>
  Tu cuenta ya está lista para usarse, entrá en
  <%= link_to root_url, root_url %> y hacé tus pedidos.
</p>

<br />
<br />

<%= content_for :footer do %>
  <p>
    Si tenés problemas con el enlace anterior probá copiándolo en la barra de
    direcciones de tu navegador.
  </p>
<% end %>
