<% url = activate_customer_url(:token => @customer.perishable_token) %>
<h2>Bienvenido a nuestro sistema de pedidos</h2>

<p>Hola <strong><%= @customer.name %></strong>,</p>

<p>Nos alegra tenerte con nosotros...</p>

<p>
  Para <strong>activar</strong> tu cuenta <strong>hacé click</strong> en el
  siguiente enlace:<br />
  <%= link_to url, url %>
</p>
<br />
<br />

<footer>
  <p>
    Si tenés problemas con el enlace anterior probá copiándolo en la barra de
    direcciones de tu navegador.
  </p>
</footer>