<nav id="menu_links">
  <ul>
    <li><%= link_to t(:users, :scope => :menu), users_path %></li>
    <li><%= link_to t(:tags, :scope => :menu), tags_path %></li>
  </ul>
</nav>
<nav id="user_actions">
  <ul>
    <li><%= link_to t(:logout, :scope => [:menu, :actions]),
      user_sessions_path, :method => :delete %></li>
  </ul>
</nav>