<% hiden = hide rescue false %>
<footer class="alert alert-info fade in" data-dismiss="alert" data-close-after="10000" <%= raw 'style="display: none;"' if hiden %>>
  <a class="close">&times;</a>
  <strong><%= flash.notice || message %></strong>
</footer>
