<div id="notice">
  <p><%= flash.notice %></p>
  <div id="close_notice"><%= link_to_function 'X', "$('notice').fade()",
    :title => t(:'label.close') %></div>
</div>
<%= javascript_tag "Element.fade.delay(7, 'notice');" %>