<h3 class="readonly-data"><%= @setting.name %>: <%= @setting.value %></h3>

<nav class="form-actions">
  <%= link_to t('label.edit'), edit_setting_path(@setting) %> |
  <%= link_to t('label.list'), settings_path %>
</nav>