<div class="row-fluid">
  <div class="span6">
    <%= render 'public_form' %>
  </div>
  <div class="span6">
    <%= render 'help/customer_profile' %>
    <%= yield :bottom_content %>
  </div>
</div>
