<br />
<section id="customer_registration">
  <div class="row-fluid">
    <div class="span6">
      <%= render 'public_form' %>
    </div>
    <div class="span6">
      <%= render 'help/new_customer' %>
      <%= yield :bottom_content %>
    </div>
  </div>
</section>