<section id="customer_registration">
  
  <div class="form-inputs">
    <div class="row-fluid">
      <div class="span6">
        <%= render 'public_form' %>
      </div>
      <div class="span6">
          <%= render 'help/new_customer' %>
      </div>
    </div>
  </div>
</section>