<% if @order.order_lines.blank? %>
  <%= render 'help/empty_order' %>
<% else %>
  <section id="check_order">
    <%= render 'form' %>
  </section>

  <nav class="links">
    <%= link_to t('label.back'), catalog_path %>
  </nav>
<% end %>

<%= render 'printed_footer' %>