<ul>
  <% tags.each do |tag| %>
    <li id="auto_tag_<%= tag.id %>">
      <%= highlight tag.name, params[:q] %>
      <span class="informal"><%= highlight tag.to_s, params[:q] %></span>
    </li>
  <% end %>
</ul>