<%= render 'form' %>

<nav class="links">
  <%= document_link_for_use_in_next_print @document %> |
  <%= link_to t(:'label.show'), @document %> |
  <%= link_to t(:'label.list'), documents_path %>
</nav>