<p>
  <b><%= Tag.human_attribute_name :name %></b>:
  <%= @tag.name %>
</p>

<nav class="links">
  <%= link_to t(:'label.edit'), edit_tag_path(@tag, :parent => params[:parent]) %> |
  <%= link_to t(:'label.list'), tags_path(:parent => params[:parent]) %>
</nav>