<h2 class="title"><%= @tag %></h2>

<nav class="links">
  <%= link_to t(:'label.edit'), edit_tag_path(@tag, :parent => params[:parent]) %> |
  <%= link_to t(:'label.list'), tags_path(:parent => params[:parent]) %>
</nav>