<%
    controllers = %w[customers articles shifts print_queues]
    controllers += %w[
      users bonuses payments print_job_types customers_groups shift_closures notebooks
    ] if current_user.admin?
%>
<li class="dropdown<%= ' active' if controllers.include?(controller_name) %>">
  <a href="#" class="dropdown-toggle iconic" data-toggle="dropdown">
    &#x2699;
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <% controllers.sort.each do |name| %>
      <%= content_tag(
        :li,
        link_to(t('menu.' + name), [name.to_sym]),
        class: ('active' if controller_name == name)
      ) %>
    <% end %>

    <%= content_tag(:li, link_to(t('menu.stats'), printer_stats_path),
      class: ('active' if controller_name == 'stats')) if current_user.admin? %>
  </ul>
</li>
