<section id="unsupported_warning">
  <p>
    <strong>Amigo</strong>, estás usando un navegador privativo que no hemos
    probado, ya que para desarrollar este software utilizamos únicamente
    <a title="Software Libre" href="http://www.gnu.org/philosophy/free-sw.es.html">
      Software Libre
    </a>.
  </p>
  
  <p>
    Te <em>recomendamos</em> utilizar software libre, no sólo por sus ventajas
    técnicas, sino por sus ventajas <strong>sociales</strong>.
  </p>
  
  <p>
    De todas formas, hemos respetado
    <a title="HTML5" href="http://www.w3.org/TR/html5/">cuanto</a>
    <a title="CSS3" href="http://www.w3.org/TR/CSS/">estándar</a>
    <a title="JavaScript" href="http://www.ecmascript.org/">encontramos</a>,
    por lo que si querés seguir utilizando "tu" navegador y crees (o sabés) que
    los soporta, ingresá que seguramente todo funciona =)
  </p>
</section>