<section id="unsupported_warning">
  <p>
    Amigo, estás usando un navegador privativo que no hemos probado, ya que para
    desarrollar este software utilizamos únicamente software libre.
  </p>
  
  <p>
    Te recomendamos utilizar software libre, no por sus ventajas técnicas, sino
    por sus ventajas sociales.
  </p>
  
  <p>
    De todas formas, hemos respetado cuanto estándar encontramos, por lo que si
    querés seguir utilizando "tu" navegador y crees (o sabés) que los soporta y
    es fiel a los mismos, ingresá que seguramente todo funciona =)
  </p>
</section>