<%= content_for :bottom_content do %>
  <p class="help_link_container visible-phone">
    <a class="toggle_display" href="#welcome">¿De que se trata esto?</a>
  </p>
<% end %>
<section id="welcome" class="details hidden-phone">
  <header>
    <h3>La visión del Centro de Estudiantes sobre el Centro de Copiado</h3>
  </header>

  <p>
    Porque creemos que la solidaridad es la herramienta más firme para construir
    una sociedad mejor, este Centro de Copiado fue concebido bajo las premisas
    de SOLIDARIDAD y LIBERTAD: libertad de elegir, de administrar, de decidir
    por nosotros mismos.
  </p>
  <p>
    El Centro de Copiado de la UTN Mendoza es:
  </p>

  <div class="clearfix">
    <figure>
      <%= image_sprite :solidarity, title: 'Solidaridad' %>
    </figure>
    <header>
      <h4>Solidario</h4>
    </header>
    <p>
      Porque lo recaudado se destina a becas para que compañeros puedan seguir
      estudiando
    </p>
  </div>

  <div class="clearfix">
    <figure>
      <%= image_sprite :copyleft, title: 'Copyleft' %>
    </figure>
    <header>
      <h4>Libre</h4>
    </header>
    <p>
      Porque los estudiantes podemos decidir sin que nadie nos diga qué hacer
    </p>
  </div>

  <div class="clearfix">
    <figure>
      <%= image_sprite :transformation, title: 'Transformación' %>
    </figure>
    <header>
      <h4>Transformador</h4>
    </header>
    <p>
      Porque creamos tecnología propia de la UTN para que otros puedan
      disfrutarla, y no somos meros consumidores de tecnología ajena y privativa
    </p>
  </div>

  <br />

  <div class="well">
    Todos estos valores se sintetizan en una sola palabra:
    <strong>AUTOGESTIÓN</strong>
  </div>
</section>
