<section class="explanation">
  <h2>Centro de copiado autogestionado</h2>
  <p>
    <%= image_tag 'logo.png', :size => '150x38' %>
    Este es el sistema de pedidos en línea del centro de estudiantes.
  </p>
</section>