<p><%= t('view.feedbacks.negative_return') %></p>

<br />

<%= simple_form_for @feedback, 
  url: update_feedback_path(@feedback), remote: true do |f| %>
  
  <%= f.input :comments, label: false %>
  <%= f.button :submit, t('view.feedbacks.submit') %> 
<% end %>