<p><%= t('view.feedbacks.negative_return') %></p>

<br />

<%= form_for(@feedback, url: update_feedback_path(@feedback), remote: true) do |f| %>
  <div class="field">
    <%= f.text_area :comments %>
  </div>
  
  <div class="actions">
    <%= f.submit t('view.feedbacks.submit') %>
  </div>
<% end %>