$highlight-color: #ff9;
$main-color: #6dc210;
$main-text-color: #333;
$soft-highlight-color: #ffc;

@mixin box-shadow($h-offset: 0em, $v-offset: 0em, $blur-offset: .25em, $color: #999) {
  -moz-box-shadow: $h-offset $v-offset $blur-offset $color;
  -webkit-box-shadow: $h-offset $v-offset $blur-offset $color;
  box-shadow: $h-offset $v-offset $blur-offset $color;
}

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($time, $property, $function) {
  -moz-transition: $time $property $function;
  -webkit-transition: $time $property $function;
  transition: $time $property $function;
}

@mixin nested-column($header-id, $item-class, $index, $width) {
  section.nested_items {
    div##{$header-id} {
      h3:nth-child(#{$index}) {
        width: $width;
      }
    }
    div.#{$item-class} {
      div.nested_item_field:nth-child(#{$index}) {
        width: $width;
      }
    }
  }
}