@mixin box-shadow($h-offset: 0em, $v-offset: 0em, $blur-offset: .25em, $color: #999) {
  -moz-box-shadow: $h-offset $v-offset $blur-offset $color;
  -webkit-box-shadow: $h-offset $v-offset $blur-offset $color;
  box-shadow: $h-offset $v-offset $blur-offset $color;
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($time, $property, $function) {
  -moz-transition: $time $property $function;
  -webkit-transition: $time $property $function;
  transition: $time $property $function;
}