* {
  margin: 0px;
  padding: 0px;
}

a {
  color: #000;
}

a:visited {
  color: #666666;
}

a:hover {
  color: #f72;
  text-shadow: 0px 0px .1em #f72;
}

a.action_link,
a.remove,
a[data-event="removeItem"],
a[data-event="hideItem"] {
  font-size: 12px;
  font-weight: bold;
  padding: 1px 3px;
  text-decoration: none;
}

a.action_link:hover {
  background: #f72;
  color: #fff;
  text-shadow: 0px 0px .1em #fff;
}

a.remove:hover,
a[data-event="removeItem"]:hover,
a[data-event="hideItem"]:hover {
  background: #f72;
  color: #fff;
  text-shadow: 0px 0px .1em #fff;
}

body {
  color: #333333;
  background-color: #ffffff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
}

br.break {
  clear: both;
}

div#alert, div#login_error {
  background: #aa0000;
  color: #ffffff;
}

div#alert, div#notice, div#login_error {
  position: fixed;
  bottom: .5em;
  left: 0px;
  right: 0px;
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  padding: .75em 1em;
  text-shadow: 0px 0px 1px #fff;
  opacity: .8;
}

div#alert div#close_alert,
div#notice div#close_notice,
div#login_error div#close_login_error {
  position: absolute;
  top: .5em;
  right: 1em;
  font-size: .6em;
  font-weight: normal;
  border: 2px solid #dfdfdf;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
}

div#alert div#close_alert a,
div#notice div#close_notice a,
div#login_error div#close_login_error a {
  background: inherit;
  color: #dfdfdf;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  padding: 1px 5px;
}

div#error_explanation {
  width: 100%;
  padding: .5em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  background-color: #efefef;
  border: 2px solid #f72;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0em 0em 1em #f72;
  -moz-box-shadow: 0em 0em 1em #f72;
  box-shadow: 0em 0em 1em #f72;
}

div#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: .5em 1em;
  font-size: 1em;
  margin: -.5em;
  margin-bottom: 0em;
  background-color: #f72;
  color: #fff;
  text-shadow: 0px 0px .1em #fff;
}

div#error_explanation ul {
  margin: 1em 1em 1em 3em;
}

div#error_explanation ul li {
  list-style: square;
}

div#error_header > h1 {
  margin-top: 3em;
  text-shadow: 0 0 4px white, 0 -5px 4px #FFFF33, 2px -10px 6px #FFDD33, -2px -15px 11px #FF8800, 2px -25px 18px #FF2200;
}

div#loading_image {
  position: fixed;
  bottom: .5em;
  left: 1em;
  padding: 1px 5px;
}

div#login {
  font-size: 1.1em;
  background-color: #dfdfdf;
  width: 20em;
  margin: 6em auto;
  padding: 1.5em 3em;
  border: .25em solid #f72;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0em 0em 1em #999;
  -moz-box-shadow: 0em 0em 1em #999;
  box-shadow: 0em 0em 1em #999;
  text-shadow: .1em .1em .25em #999;
}

div#login div.field > label {
  width: 100%;
  margin-bottom: .25em;
}

div#login input[type="text"], div#login input[type="password"] {
  width: 100%;
  padding: .25em .5em;
}

div#login input[type="submit"] {
  font-size: 1em;
  font-family: inherit;
  padding: .25em 1em;
}

div#main_container {
  margin: 4em auto;
  width: 95%;
  min-width: 900px;
  max-width: 1250px;
}

div#main_menu {
  position: absolute;
  width: 100%;
  background: #dfdfdf;
  border-bottom: 4px solid #f72;
  top: 0px;
  left: 0px;
  padding: .5em 0em;
  min-width: 900px;
  -webkit-box-shadow: 0em .25em .75em #999;
  -moz-box-shadow: 0em .25em .75em #999;
  box-shadow: 0em .25em .75em #999;
  text-shadow: .1em .1em .1em #999;
}

div#notice {
  background: #151215;
  color: #ffffff;
}

div#search {
  margin: .5em 0em;
}

div#search input#search_query {
  width: 100%;
  margin: 0px;
  font-size: 1.25em;
  padding: .2em;
  text-shadow: 0px 1px 0px #fff;
  outline: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ffffff));
  background: -moz-linear-gradient(top,  #efefef,  #ffffff);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #999;
  -webkit-box-shadow: 1px 1px 0px #efefef;
  -moz-box-shadow: 1px 1px 0px #efefef;
  box-shadow:  1px 1px 0px #efefef;
}

div#search input#search_query:focus {
  border: 1px solid #f72;
  -webkit-box-shadow: 0px 0px 2px #f72;
  -moz-box-shadow: 0px 0px 2px #f72;
  box-shadow:  0px 0px 2px #f72;
}

div#search input[type="submit"] {
  margin: 0px;
}

div#search table {
  width: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
}

div#search table td:nth-child(1) {
  width: 99%;
}

div#search table td:nth-child(2), div#search table td:nth-child(3) {
  padding-left: 1em;
}

div.actions input[type="submit"], div#search input[type="submit"] {
  padding: .1em 1em;
  display: inline-block;
  background: rgba(185,185,185,1);
  background: -moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
  padding: .25em 1em;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  border: 1px solid rgba(0,0,0,0.4);
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
  -moz-box-shadow: 0px 0px .1em rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px .1em rgba(0,0,0,0.5);
  box-shadow: 0px 0px .1em rgba(0,0,0,0.5);
}

div.actions input[type="submit"]:hover:not(:disabled), div#search input[type="submit"]:hover:not(:disabled) {
  border: 1px solid #f72;
  text-shadow: 0px 0px 2px #999;
}

div.actions input[type="submit"]:active, div.actions input[type="submit"]:focus,
div#search input[type="submit"]:focus, div#search input[type="submit"]:active {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top,rgba(185,185,185,1),rgba(255,255,255,1));
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(185,185,185,1)),to(rgba(255,255,255,1)));
}

div.actions input[type="submit"]:disabled,
div#search input[type="submit"]:disabled {
  color: rgba(0,0,0,0.4);
  text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
  background: rgba(220,220,220,1);
}

div.actions, div.field {
  margin-bottom: .5em;
}

div.add_nested_item {
  clear: both;
  font-weight: bold;
  margin: .5em 0em 1em 0em;
}

div.add_nested_item a {
  color: #333;
  text-decoration: none;
  padding-bottom: .25em;
  border-bottom: 1px dotted #f72;
}

div.dynamic_details {
  clear: both;
  padding: 1em 0em 0em 0em;
}

div.field input[type="file"] {
  cursor: pointer !important;
}

div.field input[type="text"], div.field input[type="password"],
div.field select, div.field textarea,
div.nested_item_field input[type="text"], div.nested_item_field input[type="password"],
div.nested_item_field select, div.nested_item_field textarea,
div.field input.file {
  font-size: inherit;
  font-family: inherit;
  padding: .1em 0em;
  width: 30em;
  text-shadow: 0px 1px 0px #fff;
  outline: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ffffff));
  background: -moz-linear-gradient(top,  #efefef,  #ffffff);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #999;
  -webkit-box-shadow: 1px 1px 0px #efefef;
  -moz-box-shadow: 1px 1px 0px #efefef;
  box-shadow:  1px 1px 0px #efefef;
}

div.field input[type="text"]:focus, div.field input[type="password"]:focus,
div.field select:focus, div.field textarea:focus,
div.nested_item_field input[type="text"]:focus, div.nested_item_field input[type="password"]:focus,
div.nested_item_field select:focus, div.nested_item_field textarea:focus,
div.field input.file:focus {
  border: 1px solid #f72;
  -webkit-box-shadow: 0px 0px 2px #f72;
  -moz-box-shadow: 0px 0px 2px #f72;
  box-shadow:  0px 0px 2px #f72;
}

div.field input[disabled], div.field input[readonly],
div.field select[disabled], div.field select[readonly],
div.field textarea[disabled], div.field textarea[readonly],
div.nested_item_field input[disabled], div.nested_item_field input[readonly],
div.nested_item_field select[disabled], div.nested_item_field select[readonly],
div.nested_item_field textarea[disabled], div.nested_item_field textarea[readonly] {
  background: #dedede;
  color: #999;
}

div.field input.file {
  width: 30em !important;
}

div.field textarea {
  height: 7em;
}

div.field > label {
  display: block;
  width: 30em;
  padding: .1em;
}

div.field input[type="checkbox"] + label {
  display: inline;
  margin-left: .5em;
}

div.field.column_left {
    float: left;
    width: 48%;
    margin-right: 1%;
}

div.field.column_right {
    float: right;
    width: 48%;
    margin-left: 1%;
}

div.field.column_left input[type="text"],
div.field.column_left input[type="password"],
div.field.column_left select,
div.field.column_left textarea,
div.field.column_right input[type="text"],
div.field.column_right input[type="password"],
div.field.column_right select,
div.field.column_right textarea {
    width: 94%;
}

div.field.column_left > label, div.field.column_right > label {
  width: 94%;
}

div.image_container {
  float: left;
  margin: 0em 2em 2em 0em;
  padding: .5em;
  border: 2px solid #666666;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  border-radius: .5em;
  -moz-box-shadow: .5em .5em .5em #999999;
  -webkit-box-shadow: .5em .5em .5em #999999;
  box-shadow: .5em .5em .5em #999999;
}

div.image_container img {
  float: left;
}

div.image_container.medium_style {
  float: right;
  margin: 0em 0em 2em 2em;
}

div.image_container.mini_style {
  float: left;
  margin: .25em;
  -moz-box-shadow: .25em .25em .25em #999999;
  -webkit-box-shadow: .25em .25em .25em #999999;
  box-shadow: .25em .25em .25em #999999;
}

div.image_container.user_avatar {
  padding: 0em;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
}

dl.details dt {
  font-weight: bold;
  float: left;
  margin-right: .5em;
}

form.button_to input[type="submit"] {
  font-size: .8em;
  padding: 0em .5em;
  display: inline-block;
  background: rgba(185,185,185,1);
  background: -moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  border: 1px solid rgba(0,0,0,0.4);
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
  -moz-box-shadow: 0px 0px .1em rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px .1em rgba(0,0,0,0.5);
  box-shadow: 0px 0px .1em rgba(0,0,0,0.5);

}

form.button_to input[type="submit"]:disabled {
  color: rgba(0,0,0,0.4);
  text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
  background: rgba(220,220,220,1);
}

form.button_to input[type="submit"]:hover:not(:disabled) {
  border: 1px solid #f72;
  text-shadow: 0px 0px 2px #999;
}

form.button_to input[type="submit"]:active, form.button_to input[type="submit"]:focus {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top,rgba(185,185,185,1),rgba(255,255,255,1));
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(185,185,185,1)),to(rgba(255,255,255,1)));
}

h2.title {
  font-size: 1.25em;
  margin-bottom: 1em;
  text-shadow: 1px 1px .25em #999;
}

h3.title {
  display: inline-block;
  font-size: 1em;
  margin: .5em 0em;
  padding-bottom: .2em;
  border-bottom: 1px dotted #333333;
}

input.field_with_errors, select.field_with_errors, text_area.field_with_errors {
  border: 1px solid #c00 !important;
  -webkit-box-shadow: 0em 0em .25em #c00 !important;
  -moz-box-shadow: 0em 0em .25em #c00 !important;
  box-shadow: 0em 0em .25em #c00 !important;
  
}

label.field_with_errors {
  color: #c00;
  text-shadow: 0px 0px .1em #c00;
}

nav#menu_links {
  margin-left: 1em;
}

nav#menu_links a {
  padding: .5em 1em;
  text-decoration: none;
}

nav#menu_links a:hover {
  color: #fff;
  text-shadow: 0px 0px .1em #fff;
  background: #f72;
  -moz-transition: .5s background ease-out;
  -webkit-transition: .5s background ease-out;
  transition: .5s background ease-out;
}

nav#menu_links li.selected a {
  background: #bdbdbd;
  font-weight: bold;
}

nav#menu_links li.selected a:hover {
  color: #fff;
  background: #666;
  -moz-transition: .5s background ease-out;
  -webkit-transition: .5s background ease-out;
  transition: .5s background ease-out;
}

nav#menu_links li.submenu {
  position: relative;
}

nav#menu_links li.submenu ul {
  position: absolute;
  top: 1.7em;
  left: 0em;
  padding: .5em;
  border: 1px solid #666;
  display: block;
  background: #dfdfdf;
  opacity: .8;
  -moz-transition: .3s opacity ease-in;
  -webkit-transition: .3s opacity ease-in;
  transition: .3s opacity ease-in;
}

nav#menu_links li.submenu ul:hover {
  opacity: 1;
  -moz-transition: .3s opacity ease-out;
  -webkit-transition: .3s opacity ease-out;
  transition: .3s opacity ease-out;
}

nav#menu_links li.submenu ul > li {
  display: block;
}

nav#menu_links li.submenu ul > li a {
  display: block;
  padding: .25em 1em;
  white-space: nowrap;
}

nav#menu_links > ul, nav#menu_links > ul > li {
  float: left;
  list-style: none;
}

nav#user_actions {
  position: absolute;
  right: 1em;
  top: .5em;
}

nav#user_actions div#username {
  display: inline;
  font-weight: bold;
}

nav#user_actions > ul, nav#user_actions > ul > li {
  display: inline;
  list-style: none;
  margin: 0em .5em;
}

nav.links {
  display: block;
  clear: both;
  margin: 1em 0em;
}

nav.links div.pagination {
  float: right;
  margin: .5em 0em;
}

nav.links div.pagination a {
  color: #333333;
  padding: 1px 2px;
  text-decoration: none;
  border: 2px solid #cecece;
  -webkit-border-radius: .25em;
  -moz-border-radius: .25em;
  border-radius: .25em;
}

nav.links div.pagination a, nav.links div.pagination span {
  margin: 0em .1em;
  -webkit-border-radius: .25em;
  -moz-border-radius: .25em;
  border-radius: .25em;
}

nav.links div.pagination a:hover {
  color: #f72;
  background: #efefef;
  border: 2px solid #f72;
}

nav.links div.pagination em {
  font-style: normal;
  background: #333;
  color: #fff;
  padding: 1px 2px;
  text-shadow: 0px 0px .1em #fff;
  border: 2px solid #333;
  -webkit-border-radius: .25em;
  -moz-border-radius: .25em;
  border-radius: .25em;
}

nav.links div.pagination span.disabled {
  color: #cecece;
  padding: 1px 2px;
  border: 2px solid #cecece;
  -webkit-border-radius: .25em;
  -moz-border-radius: .25em;
  border-radius: .25em;
}

nav.path {
  display: block;
  margin-bottom: 1em;
}

nav.path ul, nav.path ul li {
  display: inline;
  list-style: none;
  margin-right: .5em;
}

p.note {
  margin: 1em 0em;
}

section.details h3 {
  margin: .5em 0em;
  font-size: 1em;
}

section.nested_items {
  display: block;
  clear: both;
  padding-left: 1em;
  border-left: 2px solid #f72;
}

section.nested_items div.headers {
  clear: both;
  padding: .25em;
  background: #dedede;
}

section.nested_items div.headers h3 {
  font-size: 1em;
  float: left;
  margin-right: 1em;
}

section.nested_items div.items {
  clear: both;
  padding: .5em 0em;
}

section.nested_items div.nested_item {
  clear: both;
}

section.nested_items div.items div.nested_item_field,
section.nested_items div.items div.nested_item_actions {
  float: left;
  margin-right: 1em;
}

section.nested_items h2:not(.title) {
  font-size: 1.2em;
  margin: 1em 0em .5em -.5em;
  text-shadow: 1px 1px .25em #999;
}

section.nested_items input[type="text"],
section.nested_items input[type="password"],
section.nested_items select,
section.nested_items textarea {
  width: 98%;
}

section.tags {
  display: block;
  margin: 1em 0em;
}

span.money {
  padding: .5em;
  margin: 0em .5em;
  background: #f0f0f0;
  font-size: .8em;
}

span.arrow_down, span.arrow_up {
  border-style: dashed;
  border-color: transparent;
  border-width: .4em;
  display: -moz-inline-box;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 0em;
}

span.arrow_down {
  border-top-width: .5em;
  border-top-style: solid;
  border-top-color: #666666;
  top: .25em;
}

span.arrow_up {
  border-bottom-width: .5em;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  bottom: .25em;
}

table.list {
  width: 100%;
  border: 2px solid #666;
  border-collapse: collapse;
}

table.list td {
  padding: .25em .5em;
}

table.list th {
  text-align: left;
  padding: .5em;
  color: #fff;
  background: #666;
  border-bottom: 2px solid #666;
  text-shadow: 0px 0px .1em #fff;
}

table.list tbody tr.odd {
  background: #efefef;
}

table.list tbody tr.odd, table.list tbody tr.even {
  -moz-transition: .15s background ease-in;
  -webkit-transition: .15s background ease-in;
  transition: .15s background ease-in;
}

table.list tbody tr.odd:hover, table.list tbody tr.even:hover {
  text-shadow: 0px 0px .1em #999;
  background: #cecece;
  -moz-transition: .15s background ease-out;
  -webkit-transition: .15s background ease-out;
  transition: .15s background ease-out;
}

table.summary {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0em;
}

table.summary div.actions {
  text-align: right;
}

table.summary td {
  padding: .4em .5em;
}

table.summary th {
  text-align: left;
  padding: .25em;
  background: #dedede;
}

ul.raw {
  margin: 1em 0em 1em 3em;
}

.bold {
  font-weight: bold;
}

.ui-autocomplete span.informal {
  display: block;
  white-space: normal;
  font-size: .75em;
  color: #676767;
}

.ui-autocomplete span.label {
  white-space: normal;
}

.ui-datepicker-trigger {
  display: none;
}

.clear {
  display: block;
  clear: both;
}

.green {
  color: #00cc00;
}

.red {
  color: #cc0000;
}

/* Estilo de los "Trabajos de impresión" dentro de "Impresiones" */
section.nested_items div#print_jobs_headers h3:nth-child(1),
section.nested_items div.print_job div.nested_item_field:nth-child(1) {
  width: 35%;
}

section.nested_items div#print_jobs_headers h3:nth-child(2),
section.nested_items div.print_job div.nested_item_field:nth-child(2) {
  width: 9%;
}

section.nested_items div#print_jobs_headers h3:nth-child(3),
section.nested_items div.print_job div.nested_item_field:nth-child(3) {
  width: 7%;
}

section.nested_items div#print_jobs_headers h3:nth-child(4),
section.nested_items div.print_job div.nested_item_field:nth-child(4) {
  width: 7%;
}

section.nested_items div#print_jobs_headers h3:nth-child(5),
section.nested_items div.print_job div.nested_item_field:nth-child(5) {
  width: 15%;
}

section.nested_items div#print_jobs_headers h3:nth-child(6),
section.nested_items div.print_job div.nested_item_field:nth-child(6) {
  width: 7%;
}

section.nested_items div#print_jobs_headers h3:nth-child(7),
section.nested_items div.print_job div.nested_item_actions {
  width: 10%;
}

/* Estilo de los "Artículos" dentro de "Impresiones" */
section.nested_items div#article_lines_headers h3:nth-child(1),
section.nested_items div.article_line div.nested_item_field:nth-child(1) {
  width: 40%;
}

section.nested_items div#article_lines_headers h3:nth-child(2),
section.nested_items div.article_line div.nested_item_field:nth-child(2) {
  width: 9%;
}

section.nested_items div#article_lines_headers h3:nth-child(3),
section.nested_items div.article_line div.nested_item_field:nth-child(3) {
  width: 7%;
}

/* Estilo de "Bonificaciones" dentro de "Clientes" */
section.nested_items div#bonuses_headers h3:nth-child(1),
section.nested_items div.bonus div.nested_item_field:nth-child(1) {
  width: 20%;
}

section.nested_items div#bonuses_headers h3:nth-child(2),
section.nested_items div.bonus div.nested_item_field:nth-child(2) {
  width: 20%;
}

section.nested_items div#bonuses_headers h3:nth-child(3),
section.nested_items div.bonus div.nested_item_field:nth-child(3) {
  width: 20%;
}

section.nested_items div#bonuses_headers h3:nth-child(4),
section.nested_items div.bonus div.nested_item_field:nth-child(4) {
  width: 5%;
}

/* Estilo de "Etiquetas" dentro de "Documentos" */
div#tags {
  margin-left: 1em;
}

/* Estilo de "descripción" dentro de "Documentos" */
div.document_data {
  float: left;
  margin-right: 1em;
}