#customer_login {
  float: right;

  h2 {
    margin-bottom: 1em;
  }

  #login {
    float: right;
    margin: 0em 0em 1em 2em;
  }
}

#customer_registration {
  #error_explanation {
    position: fixed;
    width: 95%;
    left: auto;
    right: auto;
    bottom: 0%;
  }

  #public_customer_form {
    float: left;
    margin-right: 2em;
  }

  h2 {
    margin-bottom: 1em;
  }

  section.explanation {
    float: left;
    margin: 0em;
    max-width: 450px;
    text-align: justify;
  }
}

#ph_customers {
  .cancelled {
    opacity: .75;

    strong {
      text-decoration: line-through;
    }

    .highlight {
      font-weight: bold;
      color: #c00;
    }
  }
}