#customer_login {
  #login {
    float: right;
    margin: 0em 0em 0em 2em;
  }

  h2 {
    margin-bottom: 1em;
  }

  img {
    float: left;
    margin: 0em 1em .5em 0em;
  }

  section.explanation {
    display: inline;
    margin-right: 2em;
    text-align: justify;
  }
}

#customer_login_links {
  text-align: right;
  padding-top: 4em;
}