#ph_customer_sessions {
  section.details {
    footer {
      margin-top: 2em;
      
      p {
        text-align: center;
      }
    }
    
    header {
      h2 {
        font-size: 1.5em;
        margin-bottom: 1em;
      }
    }

    p {
      margin: 1em 0em;
    }

    section {
      header {
        h3 {
          font-size: 1.25em;
          font-weight: bold;
        }
      }

      figure {
        float: left;
        width: 70px;
      }
    }
  }
  
  #main_container {
    margin: 5em auto;
    min-width: 750px;
    padding: 0em 1em;
  }

  #top_bar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #e8e8e8;
    border-bottom: 2px solid #cdcdcd;
    padding: 1em 2em;
    min-width: 750px;

    hgroup {
      h1, h2 {
        display: inline;
      }

      h1 {
        font-size: 1.5em;
        font-style: italic;
        margin-right: .25em;
      }

      h2 {
        font-size: .8em;
        font-weight: normal;
      }
    }

    nav {
      float: right;
      margin: 0em;
    }
  }

  #unsupported_warning {
    clear: both;
    padding: 0em 2em;
    border: 4px solid #c00;
    background: #e8e8e8;
    
    p {
      margin: 1em 0em;
    }
  }
}