#customer_login {
  float: right;

  h2 {
    margin-bottom: 1em;
  }

  #login {
    float: right;
    margin: 0em 0em 0em 2em;
  }
}

#customer_login_links {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #e8e8e8;
  border-bottom: 2px solid #cdcdcd;
  text-align: right;
  padding: 1em 2em;
  margin: 0em;
}

#customer_registration {
  #error_explanation {
    position: fixed;
    width: 95%;
    left: auto;
    right: auto;
    bottom: 0%;
  }

  #public_customer_form {
    float: left;
    margin-right: 2em;
  }

  h2 {
    margin-bottom: 1em;
  }

  section.explanation {
    float: left;
    margin: 0em;
    max-width: 450px;
    text-align: justify;
  }
}
