#ph_customers.action-new  {
  .form-inputs {
    padding: 6px 20px 18px;
  }
}

#ph_customers.action-edit_profile {
  .feedback {
    padding-left: 0px;
  }
  
  .form-actions {
    background-color: #fff;
  }
}
