#document_thumbs_modal {
  overflow-y: auto;
  max-height: 90%;
  top: 10%;
  
  .modal-body {
    max-height: 90%;
  }
}

#document_mini_thumbs, #document_thumbs {
  .item {
    text-align: center;
  }
}
