@import "mixins";

div.document_data {
  float: left;
  margin: 0em 1em 1em 0em;
}

figure.barcode {
  float: left;
  margin: 1em 0em;
  border: 1px dotted $main-text-color;

  figcaption {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
}

span.tag {
  color: $main-text-color;
  background: #dedede;
  border: 1px solid #999;
  padding: 1px 4px;
  margin-right: .5em;
  line-height: 1.25em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  @include rounded-corners(.25em);
}