@import "mixins";

section.explanation {
  margin: 2em 0em;
  padding: 1em;
  background: #f6f6f6;
  border-left: 2px solid $main-color;
  @include rounded-corners(3px);

  div.image_container {
    margin-left: 1em;
    background: #fff;
    padding: 2px;
  }

  footer {
    display: block;
    clear: both;
    padding: .5em 1em;
    background: #e8e8e8;
    margin: 1em -1em -1em -1em;
    
    p {
      font-size: .8em;
      
      em {
        font-weight: bold;
        font-style: normal;
        color: $main-color;
        opacity: .8;
      }
    }
  }

  header {
    clear: both;
    margin: -1em -1em 1em -1em;
    padding: 0em 1em;
    
    h2 {
      font-size: 2em;
      font-weight: 100;
      font-family: Raleway, 'Helvetica Neue', Helvetica, sans-serif;
      line-height: 1.25em;
    }
  }

  section.spot {
    display: block;
    clear: both;
    margin-top: 1em;

    code {
      font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
      font-style: italic;
      color: $main-text-color;
      background: $highlight-color;
      border: 1px solid #999;
      padding: 1px 4px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
      @include rounded-corners(.25em);
    }

    h3 {
      font-weight: normal;
      margin: 0em 0em 1em 1em;
    }

    h3.left {
      float: left;
    }

    p {
      line-height: 1.75em;
      margin: .5em 3em 0em 3em;
    }

    ul {
      line-height: 1.75em;
      margin: .5em 3em 0em 3em;
    }
  }
}