@import "mixins";

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #customer_login {
    float: none;

    #login {
      float: none;
      width: 17em;
      margin: 0em auto;
      padding: 1em 2em;
    }
  }

  #customer_registration {
    #public_customer_form {
      float: none;
      margin: 0em;
    }

    section.explanation {
      float: none;
      text-align: justify;
    }
  }

  #main_container {
    width: 100% !important;
    min-width: 200px !important;
    padding: 0em !important;
    margin: 5em auto !important;
  }

  #ph_customer_sessions {
    #top_bar {
      min-width: 200px;
      padding: 1em .5em .5em .5em;

      hgroup {
        h2 {
          display: none;
        }
      }

      nav {
        font-size: .8em;
      }
    }
  }

  #ph_password_resets, #ph_customers {
    #main_container {
      margin: 2em auto !important;
    }
  }
  
  div.actions {
    margin-left: 1em;
    
    a {
      font-size: .8em;
    }
  }
  
  div.field {
    margin-left: 1em;
    
    input[type="text"], input[type="password"], select, textarea, input.file {
      width: 90%;
    }
  }

  p.help_link_container {
    margin: .5em 0em .5em 1em;
  }

  section.explanation {
    padding: 1em;
    border: none;
  }

  .only_mobile {
    display: block;
  }

  .only_mobile_inline {
    display: inline;
  }
}