@import "mixins";

#check_order {
  div.field {
    label {
      display: inline;
      margin-right: 1em;
    }
    
    input.calendar {
      width: 12em;
    }
  }
}

#order_meta {
  margin-top: 1em;
  border-top: 1px dotted $main-color;
  padding-top: 1em;
  
  #credit {
    margin: .5em 0em;
  }

  #not_printed {
    color: #c00;
  }

  #prices {
    padding: 1em 2em;
    margin-top: 2em;
    border: 4px dotted $main-color;
    
    p {
      line-height: 1.5em;
      margin: 1.5em 0em;

      strong {
        background: $highlight-color;
        padding: .1em .5em;
        @include rounded-corners(.25em);
      }
    }
  }
  
  #printed, #not_printed {
    font-size: 1.25em;
    padding: .5em 1em;
    text-align: center;
    background: $highlight-color;
    @include rounded-corners(.5em);
  }
}

#show_order {
  header {
    margin-bottom: .5em;

    h3 {
      font-weight: normal;
    }
  }
}