@import "mixins";

#ph_prints {
  span.money {
    margin: 0em;
  }

  .document_stock {
    background: $warning-color;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    cursor: help;
    padding: .1em .25em;
    @include rounded-corners(.25em);
  }
  
  #payments {
    th {
      width: 25%;
    }
  }
}