@import "mixins";

div#login {
  font-size: 1.1em;
  background-color: #dfdfdf;
  width: 20em;
  margin: 6em auto;
  padding: 1.5em 3em;
  border: .25em solid $main-color;
  @include rounded-corners(.5em);
  @include box-shadow(0em, 0em, 1em, #999);
  text-shadow: .1em .1em .25em #999;
  
  div.field > label {
    width: 100%;
    margin-bottom: .25em;
  }

  input[type="text"], input[type="password"] {
    width: 100%;
    padding: .25em .5em;
  }

  input[type="submit"] {
    font-size: 1em;
    font-family: inherit;
    padding: .25em 1em;
  }
}

nav#user_actions {
  position: absolute;
  right: 1em;
  top: .25em;

  div#user {
    display: inline;
    color: #fff;
    background: $main-color;
    padding: 2px 6px;
    line-height: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .4), 0 .9em .5em -0.2em rgba(255, 255, 255, .2) inset;
    @include rounded-corners(.25em);
  }

  > ul, > ul > li {
    display: inline;
    list-style: none;
    margin: 0em .5em;
  }
}