<h2>Tu Pedido está listo.</h2>

<p>Hola <strong><%= @customer.name %></strong>,</p>

<p>
  Ya tenemos tu pedido #<%= @order.id %> listo. Acercate cuando puedas.
</p>

<p>
  Recordá que no tenes que sacar número para retirarlo.
</p>
