<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= [t(:app_name), @title].compact.join(' | ') %></title>
  <style type="text/css" media="screen">
    body {
      background: #fff;
      color: #333;
      font-family: verdana, arial, helvetica, sans-serif;
      font-size: 14px;
    }

    #ph_mail_content a {
      color: #d30;
    }

    #ph_mail_content a:hover {
      color: #f72;
    }

    #ph_mail_content a:visited {
      color: #f94;
    }

    #ph_mail_content footer {
      display: block;
      border-top: 1px dotted #333;
      font-size: 0.75em;
      padding-top: 1em;
    }

    #ph_mail_content h1 {
      font-size: 1.5em;
      margin-bottom: 1em;
    }

    #ph_mail_content p {
      margin-bottom: 1em;
    }
  </style>
</head>
<body>
  <div id="ph_mail_content">
    <%= yield %>
  </div>
</body>
</html>